<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="css/default.css"/>
		<script type="text/javascript" src="js/jquery-1.11.0.min.js" ></script>
		<script type="text/javascript" src="js/Demo.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="mark"></div>
			<div class="RegisterDialog">
				<div class="Registertitle">用户注册</div>
				<form class="register">
					<div class="RegisterRow">
					<div class="RegisterRowLeft">用户名:</div>
					<input type="text" class="RegisterRowRight" name="uuid"/>
					</div>
					<div class="RegisterRow">
						<div class="RegisterRowLeft">密码:</div>
						<input type="password" class="RegisterRowRight" name="password"/>
					</div>
					<div class="RegisterRow">
						<div class="RegisterRowLeft">确认密码:</div>
						<input type="password" class="RegisterRowRight" name="repassowrd"/>
					</div>
					<div class="RegisterRow">
						<div class="RegisterRowLeft">邮箱:</div>
						<input type="text" class="RegisterRowRight" name="email"/>
					</div>
					<div class="RegisterRow">
						<div class="RegisterRowLeft">手机号:</div>
						<input type="number" class="RegisterRowRight" name="userPhone"/>
					</div>
					
					<div class="RegisterRow">
						<input type="button" class="RegisterButton" value="登陆"/>
					</div>
				</form>
				
				
				<div class="RegisterRow">
					<div class="RegisterLeftText">登陆</div>
					<div class="RegisterCenterText"> |</div>
					<div class="RegisterRightText">找回密码</div>
				</div>
			</div>
		</div>
	</body>
</html>
