*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
}

.toPick{
	background-color: rgba(0,0,0,0.2);
}

.main{
	width: 100%;
	height: 100%;
	min-width: 1200px;
	min-height: 800px;
	background-image: url(../img/index.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
}
.main .container {
	width: 1200px;
	height: 800px;
	margin: auto;
}
.main .container .head{
	width: 100%;
	height: 100px;
	padding-top: 50px;
	position: relative;
}
.main .container .head #IPortrait{
	width: 80px;
	height: 80px;
}
.main .container .head .nickName{
	position: absolute;
	left: 90px;
	top: 50px;
	color: white;
	font-style: italic;
}
.main .container .head .sign{
	width: 120px;
	height: 50px;
	position: absolute;
	left: 90px;
	top: 110px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.main .container #left{
	width: 320px;
	height: 650px;
	float: left;
}
.main .container #left #top{
	width: 100%;
	height: 50px;
	background-color: rgba(	220,220,220,0.6);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
.main .container #left #top #title{
	color: white;
}
.main .container #left #top #functionButton{
	float: right;
	color: white;
	font-size: 38px;
	padding-right: 20px;
	cursor: pointer;
}
.main .container #left #top #subMune{
	width: 80px;
	height: 42px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 50px;
	left: 240px;
	display: none;
	z-index: 4;
}
.main .container #left #top #subMune .createAndSearch{
	width: 80px;
	height: 42px;
	list-style: none;
}
.main .container #left #top #subMune .createAndSearch li{
	width: 80px;
	height: 20px;
	text-align: center;
	font-size: 10px;
	line-height: 20px;
	color: white;
	cursor: pointer;
}
.main .container #left #top #subMune .createAndSearch li#divisionLine{
	width: 80px;
	height: 1px;
	border-top: 1px solid white;
}
.main .container #left #middle{
	width: 100%;
	height: 540px;
	background-color: white;
	position: relative;
}
.main .container #left #middle #middleGroupChat{
	width: 100%;
	height: 540px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}
.main .container #left #middle #middleNotificationMessage{
	width: 100%;
	height: 540px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: none;
}
.main .container #left #middle #middleI{
	width: 100%;
	height: 540px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: none;
	background: rgba(220,220,220,0.2);
	overflow: hidden;
}
.main .container #left #middle #middleGroupChat #groupChat{
	width: 100%;
	height: 540px;
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
}
.main .container #left #middle #middleGroupChat #groupChat li{
	width: 100%;
	height: 80px;
	position: relative;
	border-bottom: 1px solid black;
}
.main .container #left #middle #middleGroupChat #groupChat li img{
	width: 80px;
	height: 80px;
}
.main .container #left #middle #middleGroupChat #groupChat li .groupName{
	width: 100px;
	position: absolute;
	left: 80px;
	top: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*.main .container #left #middle #middleGroupChat #groupChat li .groupLastNumberName{
	width: 50px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: darkgray;
}*/
.main .container #left #middle #middleGroupChat #groupChat li .groupLastMessage{
	width: 170px;
	position: absolute;
	left: 80px;
	bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: darkgray;
}
.main .container #left #middle #middleNotificationMessage ul#notificationMessage{
	width: 100%;
	height: 490px;
	list-style: none;
	overflow-y: scroll;
}
.main .container #left #middle #middleNotificationMessage ul#notificationMessage li{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid black;
	position: relative;
}
.main .container #left #middle #middleNotificationMessage ul#notificationMessage li img{
	width: 60px;
	height: 60px;
	margin: 10px;
}
.main .container #left #middle #middleNotificationMessage ul#notificationMessage li .applicationMessage{
	position: absolute;
	left: 80px;
	top: 10px;
}
.main .container #left #middle #middleNotificationMessage ul#notificationMessage li input{
	width: 50px;
	height: 30px;
	background: rgba(30,144,255,0.5);
	border:1px solid gainsboro;
	border-radius: 5px;
}
.main .container #left #middle #middleNotificationMessage ul#notificationMessage li .agree{
	margin-left: 10px;
}
.main .container #left #middle #middleNotificationMessage ul#notificationMessage li .refuse{
	margin-left: 20px;
}
.main .container #left #middle #middleI #I{
	width: 100%;
	height: 540px;
	list-style: none;
}
.main .container #left #middle #middleI #I li{
	width:100%;
	height:85px;
	position: relative;
	background: white;
	margin-bottom: 20px;
}
.main .container #left #middle #middleI #I li.exit{
	height:30px;
}
.main .container #left #middle #middleI #I li.exit span{
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 30px;
	background: rgba(192,192,192,0.5);
	cursor: pointer;
}
.main .container #left #middle #middleI #I li img{
	width: 60px;
	height: 60px;
	margin: 10px;
	margin-left: 20px;
}
.main .container #left #middle #middleI #I li .nickName{
	position: absolute;
	left: 90px;
	top: 10px;
}
.main .container #left #middle #middleI #I li .myData{
	position: absolute;
	left: 120px;
	top: 30px;
}
.main .container #left #middle #middleI #I li .sign{
	position: absolute;
	left: 90px;
	bottom: 10px;
}
.main .container #left #bottom{
	width: 100%;
	height: 60px;
	background-color: rgba(	211,211,211,0.6);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.main .container #left #bottom .bottomMenu{
	list-style: none;
}
.main .container #left #bottom .bottomMenu li{
	padding-top: 2px;
	width: 33.3%;
	height: 40px;
	float: left;
	text-align: center;
	position: relative;
}
.main .container #left #bottom .bottomMenu li span{
	position: absolute;
	left: 40%;
	top: 42px;
	font-size: 13px;
	color: white;
}
.main .container #left #bottom .bottomMenu li span#groupChatSpan{
	color: dodgerblue;
}
.main .container #right{
	width: 700px;
	height: 640px;
	float: left;
	margin-left: 100px;
	/*background-color: rgba(0,0,0,0.1);
	border: 1px solid darkgrey;*/
	border-radius: 25px;
	position: relative;
}
.main .container #right #createGroup{
	width: 100%;
	height: 420px;
	position: absolute;
	z-index: 1;
	display: none;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid darkgrey;
	border-radius: 25px;
}
.main .container #right #createGroup h4.tisCreateGroup{
	width: 100%;
	height: 30px;
	color: white;
	text-align: center;
	line-height: 30px;
	border-bottom: 1px solid darkgrey;
}
.main .container #right #createGroup .formCreateGroup{
	width: 100%;
	height: 390px;
}
.main .container #right #createGroup .formCreateGroup table{
	width: 100%;
	height: 390px;
}
.main .container #right #createGroup .formCreateGroup table tr td{
	width: 50%;
	text-align: center;
}
.main .container #right #createGroup .formCreateGroup table tr td:nth-child(even){
	line-height: 115px;
	float: left;
}
.main .container #right #createGroup .formCreateGroup table tr td input{
	width: 150px;
	height: 30px;
	border-radius: 20px;
	border: none;
	padding-left: 15px;
}
.main .container #right #createGroup .formCreateGroup table tr td input#submitCreate{
	width: 80px;
	background: orange;
	border-radius: 2px;
	padding-left: 0;
}
.main .container #right #chatWindow{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	display: block;
}
.main .container #right #chatWindow #chatWindowInfo{
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid darkgrey;
	border-radius: 25px;
}
.main .container #right #chatWindow #chatWindowMap{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid darkgrey;
	border-radius: 25px;
	display: none;
}
.main .container #right #chatWindow #chatWindowMap #mapLocation{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid darkgrey;
	line-height: 50px;
}
.main .container #right #chatWindow #chatWindowMap #mapLocation img.black{
	width: 20px;
	height: 40px;
	margin-left: 20px;
	line-height: 30px;
	margin-top: 5px;
}
.main .container #right #chatWindow #chatWindowMap #mapLocation span.location{
	position: relative;
	left: 20px;
	top: -10px;
	color: white;
}
.main .container #right #chatWindow #chatWindowMap #mapLocation span.locationGroupName{
	position: relative;
	left: 200px;
	top: -15px;
	color: white;
}
.main .container #right #chatWindow #chatWindowMap #mapNumbers{
	width: 100%;
	height: 60px;
	background: white;
}
.main .container #right #chatWindow #chatWindowMap #mapNumbers ul.mapNumbersInfo{
	width: 100%;
	height: 100%;
	list-style: none;
	overflow-x: auto;
}
.main .container #right #chatWindow #chatWindowMap #mapNumbers ul.mapNumbersInfo li{
	width: 50px;
	height: 60px;
	padding-top: 5px;
	margin-left: 5px;
	float: left;
	display: inline-block;
}
.main .container #right #chatWindow #chatWindowMap #mapNumbers ul.mapNumbersInfo li img{
	width: 50px;
	height: 50px;
}
.main .container #right #chatWindow #chatWindowMap #mapInfo{
	width: 100%;
	height: 520px;
	margin-top: 10px;
}
.main .container #right #chatWindow #chatWindowMap #mapInfo #map{
	width: 100%;
	height: 450px;
	background: white;
	border:#ccc solid 1px;
	font-size:12px
}
.main .container #right #chatWindow #chatWindowMap #mapInfo #mapInfoLocation{
	width: 100%;
	height: 60px;
	line-height: 50px;
}
.main .container #right #chatWindow #chatWindowMap #mapInfo #mapInfoLocation img{
	width: 30px;
	height: 48px;
	margin-left: 20px;
	padding-top: 10px;
}
.main .container #right #chatWindow #chatWindowMap #mapInfo #mapInfoLocation span{
	position: relative;
	left: 10px;
	top: -15px;
	color: white;
}
.main .container #right #chatWindow #chatWindowTitle{
	width: 100%;
	height: 60px;
	position: relative;
	border-bottom: 1px solid darkgrey;
}
.main .container #right #chatWindow #chatWindowTitle input#chatLIistButton{
	width: 40px;
	height: 20px;
	position: absolute;
	left: 30px;
	top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid darkgrey;
	color: white;
	display: block;
}
.main .container #right #chatWindow #chatWindowTitle input#chatBlack{
	width: 60px;
	height: 30px;
	position: absolute;
	left: 30px;
	top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid darkgrey;
	color: white;
	display: none;
	
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupInfo{
	width: 350px;
	height: 100%;
	position: absolute;
	left: 130px;
	top: 0px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupInfo span{
	color: white;
	font-family: "arial narrow";
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupInfo span.chatGroupNotification{
	width: 300px;
	height: 30px;
	display: block;
	position: relative;
	left: 60px;
	top: -23px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupInfo h4.chatGroupName{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc{
	width: 660px;
	height: 570px;
	position: absolute;
	left: 30px;
	top: 55px;
	z-index: 3;
	display: none;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager{
	width: 100%;
	height: 500px;
	position: relative;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnoun{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	display: none;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnoun form{
	width: 450px;
	height: 500px;
	margin: auto;
	text-align: center;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnoun form textarea.anoun{
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
	margin-top: 20px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnoun form input#publicAnoun{
	width: 60px;
	height: 30px;
	border-radius: 10px;
	border: none;
	background: #FFA500;
	margin-top: 20px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupTile{
	width: 600px;
	height: 100px;
	margin: auto;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupTile img{
	width: 80px;
	height: 80px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupTile span.groupManagerGroupName{
	position: relative;
	left: 20px;
	top: -50px;
	color: white;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupTile span.groupManagerGroupId{
	position: relative;
	left: -50px;
	top: -10px;
	color: white;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupDataNumber{
	width: 100%;
	height: 200px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupDataNumber ul.groupNumberInfo{
	width: 100%;
	height: 200px;
	list-style: none;
	overflow: auto;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupDataNumber ul.groupNumberInfo li.groupApplication{
	width: 80px;
	height: 90px;
	float: left;
	text-align: center;
	line-height: 90px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupDataNumber ul.groupNumberInfo li.groupApplication img{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	cursor: pointer;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupDataNumber ul.groupNumberInfo li.groupNumberList{	
	width: 80px;
	height: 90px;
	float: left;
	text-align: center;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupDataNumber ul.groupNumberInfo li.groupNumberList img{
	width: 60px;
	height: 60px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupDataNumber ul.groupNumberInfo li.groupNumberList span{
	position: relative;
	left: 0px;
	top: 0px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupMangerFunc{
	width: 450px;
	height: 200px;
	margin: auto;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupMangerFunc ul.groupMangerFuncList{
	list-style: none;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupManager #groupMangerFunc ul.groupMangerFuncList li{
	width: 100%;
	height: 45px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(152,251,152,0.4);
	margin-top: 5px;
	border-radius: 15px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnounPanel{
	width: 660px;
	height: 500px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnounPanel #gapClose{
	width: 60px;
	height: 30px;
	background: #CCCCCC;
	text-align: center;
	line-height: 30px;
	border-radius:5px ;
	display: block;
	position: relative;
	left: 600px;
	top: 0px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnounPanel #anounList{
	width: 660px;
	height: 450px;	
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnounPanel #anounList ul.AnounNotice{
	width: 660px;
	height: 450px;	
	list-style: none;
	overflow-y: auto;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnounPanel #anounList ul.AnounNotice li{
	width: 640px;
	background: white;
	margin-top: 20px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnounPanel #anounList ul.AnounNotice li h4{
	padding-left: 15px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnounPanel #anounList ul.AnounNotice li span{
	padding-left: 15px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupAnounPanel #anounList ul.AnounNotice li span.anounContent{
	display: block;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupNumberPanel{
	width: 660px;
	height: 500px;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupNumberPanel #gnpClose{
	width: 60px;
	height: 30px;
	background: #CCCCCC;
	text-align: center;
	line-height: 30px;
	border-radius:5px ;
	display: block;
	position: relative;
	left: 600px;
	top: 0px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupNumberPanel #ControllerNumbers{
	width: 660px;
	height: 450px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupNumberPanel #ControllerNumbers ul.ControllerNumbersList{
	width: 660px;
	height: 450px;
	list-style: none;
	overflow-y: auto;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupNumberPanel #ControllerNumbers ul.ControllerNumbersList li{
	border-bottom: 1px solid darkgrey;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupNumberPanel #ControllerNumbers ul.ControllerNumbersList li img{
	width: 90px;
	height: 90px;
	margin: 5px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupNumberPanel #ControllerNumbers ul.ControllerNumbersList li span{
	position: relative;
	left: 10px;
	top: -40px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupNumberPanel #ControllerNumbers ul.ControllerNumbersList li input.deleteNumber{
	width: 60px;
	height: 30px;
	position: relative;
	left: 430px;
	top: -40px;
	border: none;
	border-radius: 10px;
	background: red;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel{
	width: 660px;
	height: 500px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: none;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #gdpClose{
	width: 60px;
	height: 30px;
	background: #CCCCCC;
	text-align: center;
	line-height: 30px;
	border-radius:5px ;
	display: block;
	position: relative;
	left: 600px;
	top: 0px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #groupDataSave{
	width: 660px;
	height: 450px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #groupDataSave form{
	width: 660px;
	height: 450px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #groupDataSave form table{
	width: 660px;
	height: 450px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #groupDataSave form table tr{
	height: 100px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #groupDataSave form table tr td{
	font-size: 20px;
	text-align: center;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #groupDataSave form table tr td:nth-child(odd){
	color: white;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #groupDataSave form table tr td img{
	width: 90px;
	height: 90px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #groupDataSave form table tr td input#groupDataSure{
	width: 80px;
	height: 30px;
	background: orange;
	border-radius: 15px;
	border: none;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc #chatWindowManager #groupDataPanel #groupDataSave form table tr td input.groupDataSaveName{
	width: 150px;
	height: 35px;
	border: none;
	border-radius: 15px;
	padding-left: 10px;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc ul.groupListFunc{
	width: 350px;
	height: 60px;
	list-style: none; 
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc ul.groupListFunc li{
	width: 86px;
	height: 60px;
	background: rgba(0,0,0,0.7);
	line-height: 60px;
	text-align: center;
	float: left;
	border-right: 1px solid darkgrey;
	color: white;
	cursor: pointer;
}
.main .container #right #chatWindow #chatWindowTitle #chatGroupListFunc ul.groupListFunc li.exitGroup{
	border: none;
}
.main .container #right #chatWindow #chatWindowTitle input#chatClose{
	width: 60px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
	background: rgb(255,255,255,0);
	border: 1px solid darkgrey;
	color: white;
}
.main .container #right #chatWindow #chatGroupMessage{
	width: 100%;
	height: 380px;
	position: relative;
	display: block;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage{
	width: 100%;
	height: 100%;
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li{
	width: 100%;
	
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li .chat-notice{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 75%;
	line-height: 30px;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li .chat-notice .notice{
	background-color: #cecece;
    line-height: 25px;
    border-radius: 5px;
    padding: 5px 10px;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.left div.chat-sender div.nickeNamePortrait{
	width: 80px;
	height: 80px;
	float: left;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.left div.chat-sender div.nickeNamePortrait img{
	width: 60px;
	height: 60px;
	margin: 10px;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.left div.chat-sender div.nickName{
	
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.left div.chat-sender div.chatBackgroung{
	margin: 10px 0;
	padding: 8px;
	border: 1px solid #989898;
	border-radius: 8px;
	background: white;
	max-width: 75%;
	display: inline-block;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.left div.chat-sender div.chatBackgroung div.chat-left_triangle{
	width: 0px;
	height: 0px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent white transparent transparent;
	position: relative;
	left: -22px;
	float: left;
	top: 5px;
	z-index: -10;	
	display: inline-block;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.right div.chat-sender div.nickeNamePortrait{
	width: 80px;
	height: 80px;
	position: relative;
	left: 580px;
	top: 30px;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.right div.chat-sender div.nickeNamePortrait img{
	width: 60px;
	height: 60px;
	margin: 10px;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.right div.chat-sender div.nickName{
	float: right;
	position: relative;
	right: 120px;
	top: -50px;
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.right div.chat-sender  div.chatBackgroung{
	width: 100%;
	margin: 10px 0;
	max-width: 75%;
	display: inline-block;
	/*float: right;*/
	position: relative;
	left: 20px;
	top: -30px;
	clear: both;
}.main .container #right #chatWindow #chatGroupMessage #groupMessage li.right div.chat-sender  div.chatBackgroung .chatMessageDatile{
	position: relative;
	left: 30px;
	top: 5px;
	float: right;
	padding: 8px;
	border: 1px solid #989898;
	border-radius: 8px;
	background: rgba(50,205,50,1);
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li.right div.chat-sender div.chatBackgroung div.chat-left_triangle{
	width: 0px;
	height: 0px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent limegreen;
	position: relative;
	left: 25px;
	top: 2px;
	z-index: 5;	
	float: right;
	display: inline-block;	
}
.main .container #right #chatWindow #chatGroupMessage #groupMessage li div.chat-time{
	width: 100%;
	height: 30px;
	display: block;
}
.main .container #right #chatWindow #chatBox{
	width: 400px;
	height: 130px;
	margin: auto;
	position: relative;
	left: 0px;
	top: 30px;
	display: block;
}
.main .container #right #chatWindow #chatBox #chatBoxTop{
	width: 99.6%;
	height: 50px;
	position: relative;
	top: 50px;
	background: rgba(0,0,0,0.9);
	border: 1px solid darkgrey;
	text-align: center;
	line-height: 50px;
	z-index: 1;
}
.main .container #right #chatWindow #chatBox #chatBoxTop #chatBoxTopPlus{
	float: left;
	font-size: 25px;
	color: white;
	padding-left: 15px;
}
.main .container #right #chatWindow #chatBox #chatBoxTop #chatBoxContent{
	width: 250px;
	height: 35px;
	position: absolute;
	left: 50px;
	top: 5px;
	border-radius: 10px;
	padding-left: 10px;
}
.main .container #right #chatWindow #chatBox #chatBoxTop #chatBoxTopSend{
	width: 50px;
	position: absolute;
	right: 0;
	top: 15px;
	margin-right: 15px;
}
.main .container #right #chatWindow #chatBox #chatBoxListFuncMune{
	width: 100%;
	height: 70px;
	background: rgba(0,0,0,0.9);
	position: relative;
	z-index: 1;
	display: none;
}
.main .container #right #chatWindow #chatBox #chatBoxListFuncMune .boxListFuncMenu{
	width: 100%;
	height: 70px;
	list-style: none;
	margin-left: 20px;
}
.main .container #right #chatWindow #chatBox #chatBoxListFuncMune .boxListFuncMenu li{
	width: 70px;
	height: 65px;
	padding-top: 5px;
	text-align: center;
	float: left;
}
.main .container #right #chatWindow #chatBox #chatBoxListFuncMune .boxListFuncMenu li img{
	width: 25px;
	height: 40px;
}
.main .container #right #chatWindow #chatBox #chatBoxListFuncMune .boxListFuncMenu li span{
	position: relative;
	left: -30px;
	top: 20px;
	color: white;
	font-size: 10px;
}
.main .container #right #searchGroup{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	display: none;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid darkgrey;
	border-radius: 25px;
}
.main .container #right #searchGroup h4.tissearchGroup{
	width: 100%;
	height: 30px;
	color: white;
	text-align: center;
	line-height: 30px;
	border-bottom: 1px solid darkgrey;
}
.main .container #right #searchGroup .searchBox{
	width: 300PX;
	margin: auto;
	text-align: center;
}
.main .container #right #searchGroup #searchBoxInput{
	width: 200px;
	height: 30px;
	border-radius: 15px;
	margin-top: 20px;
	border: none;
	padding-left: 15px;
}
.main .container #right #searchGroup #searchResult{
	width: 550px;
	height: 350px;
	border: 1px solid darkgrey;
	margin: auto;
	margin-top: 15px;
	border-radius: 15px;
}
.main .container #right #searchGroup #searchResult .searchCount{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	border-bottom: 1px solid darkgrey;
}
.main .container #right #searchGroup #searchResult .searchCountInfo{
	width: 100%;
	height: 320px;
	list-style: none;
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
}
.main .container #right #searchGroup #searchResult .searchCountInfo li{
	position: relative;
	border-bottom: 1px solid darkgrey;
}
.main .container #right #searchGroup #searchResult .searchCountInfo li img{
	width: 100px;
	height: 100px;
	padding-left: 20px;
}
.main .container #right #searchGroup #searchResult .searchCountInfo li span.searchGroupName{
	position: absolute;
	left: 180px;
	top: 40px;
}
.main .container #right #searchGroup #searchResult .searchCountInfo li input.searchApplication{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 40px;
	top: 40px;
	background: rgba(173,216,230,1);
	border: none;
	border-radius: 5px;
}
.main .container #right #dataI{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
	display: none;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid darkgrey;
	border-radius: 25px;
}
.main .container #right #dataI h4.dataIInfo{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	border-bottom: 1px solid darkgrey;
}
.main .container #right #dataI form{
	width: 100%;
	height: 100%;
}
.main .container #right #dataI form table{
	width: 500px;
	height: 450px;
	margin: auto;
}
.main .container #right #dataI form table tr{
	text-align: center;
}
.main .container #right #dataI form table tr td {
	color: white;
}
.main .container #right #dataI form table tr td img{
	width: 80px;
	height: 80px;
}
.main .container #right #dataI form table tr td input.dataInfoDatile{
	width: 150px;
	height: 35px;
	border-radius: 25px;
	border: none;
	padding-left: 15px;
}
.main .container #right #dataI form table tr td input#dataISave{
	width: 80px;
	height: 30px;
	border: none;
	background: orangered;
	border-radius: 10px;
	color: white;
}
