+ * {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    min-width: 2000px;
    min-height: 1200px;
    background: url(../img/managerLoginBG.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
}

.main .container {
    width: 1200px;
    height: 1000px;
    margin: auto;
}

.main .container #left {
    width: 600px;
    height: 1000px;
    float: left;
}

.main .container #left img#logo {
    width: 70%;
    position: relative;
    top: 400px;
}

.main .container #right {
    width: 600px;
    height: 1000px;
    float: left;
    position: relative;
}

.main .container #right #loginBox {
    width: 500px;
    height: 600px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main .container #right #loginBox h3 {
    width: 500px;
    height: 90px;
    line-height: 90px;
    font-size: 25px;
    color: white;
}

.main .container #right #loginBox #login {
    width: 500px;
    height: 500px;
    position: relative;
}

.main .container #right #loginBox #login:before {
    width: 510px;
    height: 510px;
    position: absolute;
    content: "";
    display: block;
    z-index: -1;
    left: -5px;
    top: -5px;
    background: rgba(0, 250, 154, 0.1);
}

.main .container #right #loginBox #login h4 {
    width: 510px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgba(0, 250, 154, 0.4);
}

.main .container #right #loginBox #login form {
    width: 500px;
    height: 400px;
}

.main .container #right #loginBox #login form table {
    width: 500px;
    height: 400px;
}

.main .container #right #loginBox #login form table tr td {
    text-align: center;
    color: white;
    font-size: 20px;
}

.main .container #right #loginBox #login form table tr td:nth-child(1) {
    width: 80px;
}

.main .container #right #loginBox #login form table tr td:nth-child(2) {
    text-align: left;
}

.main .container #right #loginBox #login form table tr td input {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
}

.main .container #right #loginBox #login form table tr td span {
    color: red;
    font-size: 15px;
}

.main .container #right #loginBox #login form table tr td input#managerLogin {
    width: 100px;
    height: 30px;
    border: none;
    background: orange;
    border-radius: 20px;
}